# --- Environment and Secret Files ---
backend/.env
.env

# --- Python Cache & Virtual Environment ---
__pycache__/
*.py[cod]
*$py.class
venv/
env/

# --- Flutter Build & IDE Files ---
frontend_app/.dart_tool/
frontend_app/.flutter-plugins
frontend_app/.flutter-plugins-dependencies
frontend_app/build/
.vscode/
.idea/
